html {
    margin: 0px;
}
header {
    background-color: #1b2b53;
    color:#ffffff;
    display: block;
}

header img {
    size: 50%;
}
/*Ao que eu entendi, vai precisar fazer um import pra usar o Montserrat, um link que eu achei que pode ajudar: https://www.w3schools.com/howto/tryit.asp?font=Montserrat*/
body {
    margin: 0px;
    margin-left: 25px;
    font-family: 'Montserrat';
    font-size: 16;
    color: #000000;
}
main{display: inline;}

h1, h3 {
    font-style: bold;
}
.exemplo {
    margin: 15px 15px 15px 15px;
    background-color: #1b2b53;
    color: #ffffff;
}
/*CONFIGURAÇÔES DO MENU (ativa passando o mouse por cima)*/
nav{/*Menu desativado(apenas o icone)*/
    
    margin-left: 0px;
    width: 100%;
    float: left;
    background-color: #1b2b53;
    display: inline;
}
#icon{padding-left: 10px;} /*margem para o icon do menu*/

nav ul{/*itens do menu desativados*/
    display: none;
    margin-top: 0px;
}
nav:hover { /*menu ativando*/
    width: 100%;
}
nav:hover ul{ /*Configuração da lista no navegador vertical quando ativado, vai mudar posteriormente*/
    display: inline-block;
    background-color: #1b2b53;
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%;
    position: fixed; /*Isso faz a lista permanecer na tela, mesmo scrollando*/
    overflow: auto; /*Permite scrollar no navegador caso tenha itens demais*/
    text-decoration: none;
}

li a {
    display: block;
    color: inherit;
    text-decoration: none;
}

li a:hover{ /*Muda a cor do item do navegador, assim que o mouse passa por cima*/
    background-color: #446cd0;
}

footer {
    margin: 5 10 0 0;
    text-align: center;
    background-color: #364059;
    color: #ffffff;
    display: block;
}

footer a {
    color: inherit;
}
