
nav {
    padding: 10 0 10 0;
}

nav table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 10px;
    border-collapse: collapse;
}

nav table th{
    padding: 0 50;
}


footer a {
    color: inherit;
}
